<h1><%= @set.name %> flashcard set</h1>

<h3 class="align-right"><%= link_to "âœï¸ Edit flashcard set", edit_set_path(@set.name) %></h3>
<h3 class="align-right"><%= link_to "ðŸ—‘ï¸ Delete flashcard set", delete_set_path(@set.name), method: :delete, data: {confirm: "Are you sure?"} %></h3>

<table>
  <tr>
    <th><%= @set.headers.first %></th>
    <th><%= @set.headers.last %></th>
  </tr>

  <% @set.content.each do |line| %>
    <tr>
      <td><%= line.first %></td>
      <td><%= line.last %></td>
    </tr>
  <% end %>
</table>
