<div>
  <span style="margin-left: <%= 30 * node.level %>px;"></span>

  <% if node.file %>
    [file] <%= link_to node.name, set_path(node.absolute_path) %>
  <% else %>
    [dir]
    <% if node.absolute_path.present? %>
      <%= link_to node.name, repository_path(node.absolute_path) %>
    <% else %>
      <%= node.name %>
    <% end %>
  <% end %>
</div>

<% unless node.file %>
  <% node.nodes.each do |sub_node| %>
    <%= render "node", node: sub_node, parent_node: node %>
  <% end %>
<% end %>
